ipython==8.12.0
nbformat==5.9.2
-r docs/source/examples/substra_core/diabetes_example/assets/requirements.txt
-r docs/source/examples/substra_core/titanic_example/assets/requirements.txt
-r docs/source/examples/substrafl/get_started/torch_fedavg_assets/requirements.txt
-r docs/source/examples/substrafl/go_further/sklearn_fedavg_assets/requirements.txt
-r docs/source/examples/substrafl/go_further/torch_cyclic_assets/requirements.txt
-r docs/source/examples/substrafl/go_further/diabetes_substrafl_assets/requirements.txt