{# this is a Jinja2 template #}
.. list-table::
   :widths: 5 {% for item in data["components"] %} 5{% endfor %}
   :header-rows: 1

   * - release
{% for item in data["components"] %}
     - {{item}}
{% endfor %}
{% for release in data["releases"] %}
   * - **{{ release["name"] }}**
{%   for component_name in data["components"] %}
{%     with component = release["components"][component_name] %}
{%       if component %}
     - `{{ component["version"] }} <{{ component["link"] }}>`__ {% if component["helm"] %} (`helm {{ component["helm"]["version"] }} <{{ component["helm"]["link"] }}>`__){% endif %}
{%       else %}
     -
{%       endif %}
{%     endwith %}
{%   endfor %}
{% endfor %}