
/* VARIABLES */

@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
    --color-primary-600: #4525ee;
	--color-primary-500: #5752ff;
	--color-primary-100: #dde3ff;
	--color-primary-50: #f2f4ff;
    --color-gray-500: #7f7f7f;
    --color-teal: #32c6c6;
    --color-blue: #37b3ff;
    --color-gold: #ffc200;
    --color-lightest-gray: #f5f5f5;
    --color-light-gray: #d9d9d9;
    --color-light-gold: #faf3eb;
    --color-font: #181a34;

    --font-family-heading: "Didact Gothic", sans-serif;
}

/* LAYOUT */

.wy-nav-content{
	margin: 0 auto;
}


/* TYPOGRAPHY */

body {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    color: var(--color-font);
}

h1, h2, h3, h4, h5, H6,
.rst-content .toctree-wrapper > p.caption {
    font-family: var(--font-family-heading);
    font-weight: normal;
}

h1 {
    font-size: 60px;
}

.rst-content .toctree-wrapper > p.caption,
h2 {
    font-size: 40px;
    
}

h3 {
    font-size: 30px;
}

.rst-content .toc-backref {
    text-decoration: none;
    color: var(--color-font);
    font-weight: normal;
}

.wy-nav-content,
.wy-nav-content-wrap {
    background-color: inherit;
}

.wy-nav-content {
    padding: 50px;
}

.wy-nav-top {
    background-color: inherit;
    color: var(--color-font);
}

.wy-nav-top a {
    color: var(--color-font);
}

/* SIDEBAR */
.wy-nav-side {
    background-color: inherit;
}

/* SIDEBAR SEARCH */
.wy-side-nav-search > a {
    font-size: 24px;
    color: var(--color-font);
    display: flex;
    flex-direction: column-reverse;
    text-transform: uppercase;
    text-decoration: none;
    align-items: center;
    padding: 0;
    margin-bottom: 0.5em; /* TODO: Uniformize units */
    font-family: var(--font-family-heading);
    font-weight: normal;
}

.wy-side-nav-search .wy-dropdown > a img.logo,
.wy-side-nav-search > a img.logo {
    width: 200px;
    margin: 15px !important;
}

.wy-side-nav-search > a:before {
    display: none;
}

.wy-side-nav-search > div.version {
    font-family: var(--font-family-heading);
    font-weight: normal;
    color: var(--color-font);
}

.wy-side-nav-search input[type="text"] {
    padding: 8px 20px;
    margin: 2.8rem 1rem 0 1rem; /* TODO: Uniformize units */
    border-radius: 30px;
    border: 1px solid;
    font-size: 17px;
    text-decoration: none;
    line-height: 2;
    width: calc(100% - 2rem); /* TODO: Uniformize units */
}

.wy-side-nav-search {
    background-color: inherit;
}

/* ============ */
/* SIDEBAR MENU */
/* ============ */

/* GENERAL */

.wy-menu-vertical p.caption {
    color: var(--color-primary-500);
    margin-top: 30px;
}

.wy-side-scroll {
	padding-bottom: 30px;
}

/* LINKS */

.wy-menu-vertical a {
    text-decoration: none;
    color: var(--color-font);
    font-weight: inherit;
    font-size: 14px;
    border-radius: 0 15px 15px 0;
    transition: background-color 0.15s ease;
}

/* Active */

.wy-menu-vertical li.current a,
.wy-menu-vertical li.toctree-l1.current > a {
    border: none;
}

.wy-menu-vertical li.current,
:is(
    .wy-menu-vertical li.current,
    .wy-menu-vertical li.toctree-l2.current > a,
    .wy-menu-vertical li.toctree-l2.current li.toctree-l3 > a,
    .wy-menu-vertical li.toctree-l3.current > a,
    .wy-menu-vertical li.toctree-l3.current li.toctree-l4 > a
):not(:hover){
    background: transparent;
}

:is(
    .wy-menu-vertical li.toctree-l1.current,
    .wy-menu-vertical li.toctree-l1.current li.toctree-l2,
    .wy-menu-vertical li.toctree-l2.current,
    .wy-menu-vertical li.toctree-l2.current li.toctree-l3,
    .wy-menu-vertical li.toctree-l3.current,
    .wy-menu-vertical li.toctree-l3.current li.toctree-l4
) > a.current {
    background-color: var(--color-primary-100);
}

/* Hover */

.wy-menu-vertical a:hover,
:is(
    .wy-menu-vertical li.toctree-l1.current,
    .wy-menu-vertical li.toctree-l1.current li.toctree-l2,
    .wy-menu-vertical li.toctree-l2.current,
    .wy-menu-vertical li.toctree-l2.current li.toctree-l3,
    .wy-menu-vertical li.toctree-l3.current,
    .wy-menu-vertical li.toctree-l3.current li.toctree-l4
) > a:hover {
    background-color: var(--color-primary-50);
}

/* FOCUS */

.wy-menu-vertical a:focus,
.wy-menu-vertical a.reference.internal:focus {
    color: var(--color-font);
    background-color: var(--color-primary-100);
}

/* ADMONITIONS */

.rst-content .note,
.rst-content .hint,
.rst-content .admonition-todo {
    padding: 20px;
}

.rst-content .admonition-todo .admonition-title,
.rst-content .hint .admonition-title,
.rst-content .note .admonition-title {
    font-weight: 600;
    color: var(--color-font);
    padding: 0;
    margin: 0 0 5px 0;
}

.rst-content .note,
.rst-content .note .admonition-title {
    background-color: var(--color-blue);
}

.rst-content .admonition-todo,
.rst-content .admonition-todo .admonition-title {
    background-color: var(--color-gold);
}

.rst-content .hint,
.rst-content .hint .admonition-title {
    background-color: var(--color-teal);
}

.rst-content .admonition-todo .admonition-title::before,
.rst-content .hint .admonition-title:before,
.rst-content .note .admonition-title::before {
    display: none;
}

/* BUTTONS */
.btn.btn-neutral {
    background-color: var(--color-teal) !important;
    color: black !important;
    border: none;
    border-radius: 0;
    box-shadow: none;
}
.btn.btn-neutral .fa {
    display: none;
}

/* HIGHLIGHT */

.rst-content div[class^="highlight"],
.rst-content pre.literal-block {
    border: none;
}

.highlight,
.sphx-glr-script-out .highlight pre {
    background-color: var(--color-light-gray);
}

/* GALLERY */

div.sphx-glr-download a {
    background-color: var(--color-teal);
    background-image: none;
    border: none;
    border-radius: 0;
    padding: 6px 12px;
}
div.sphx-glr-download a:hover {
    box-shadow: none;
}
div.sphx-glr-download code.download {
    padding: 0;
}
