name: Sphinx Build in CI

on:
  pull_request:
    branches:
      - "main"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Clone substra-tools
        uses: actions/checkout@v2
        with:
          repository: substra/substra-tools
          path: substra-tools
          ref: 0.20.0

      - name: Clone substra
        uses: actions/checkout@v2
        with:
          repository: substra/substra
          path: substra
          ref: 0.42.0

      - name: Clone substrafl
        uses: actions/checkout@v2
        with:
          repository: substra/substrafl
          ref: 0.43.0
          path: substrafl

      - name: Install substra, substra-tools and substrafl
        run: |
          pip install -e './substrafl[dev]'
          pip install -e ./substra
          pip install -e ./substra-tools

      - name: Copy substra and substrafl api doc in the doc
        run: |
          cp -r substra/references docs/source/documentation/references
          cp -r substrafl/docs/api docs/source/substrafl_doc/

      - name: Install requirements
        run: pip install -r requirements.txt

      - name: Sphinx make
        working-directory: ./docs
        run: make clean html
